/* My Awesome Styles */

/* Diagnostic Styling 
 change background color 
*/


/* font-family: 'PT Sans', sans-serif;
font-family: 'Source Serif Pro', serif; */

/* Global */
*   {
    outline: 1px dotted green;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source serif pro', serif;
}
p {
    font-family: 'PT Sans', sans-serif;
    line-height: 140%;
    margin-top: 30px;
}


/* nav bar */
li  {
    display: inline-block;
    list-style: none;
    padding: 2em 2em;
}
a {
    text-decoration: none;
    font-family: 'Source Serif Pro';
    color: white;
}
a:visited {
    text-decoration: none;
    font-family: 'Source Serif Pro';
    color: white;
}

nav {
    margin: auto 00px;
    text-align: center;
    background: aquamarine;
}


/* headings */
h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 70px;
}
section h2 {
    text-align: left;
    font-size: 3rem;
    margin-top: 70px;
}


/* header */
.box {
    height: 500px;
}
.headertitle {
    margin-top: auto;
    padding-top: 200px;
    text-align: center;
    font-size: 6em;
}
header div p {
    text-align: center;
}

/* main section */
.mainsection {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

/* footer */
footer p {
    text-align: center;
    padding-top: 50px;
}
footer {
    margin-top: 100px;
    height: 200px;
    background: aquamarine;
}
footer div {
    width: 700px;
    margin: auto;
}

/* Index */



/* About */
.headerabout {
    margin-top: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 4em;
}
.boxabout {
    height: 300px;
}



.zm1 {
    display: block;
    width: 30%;
    border-radius: 20px;
    margin: auto;
}

/* Contact */
.headercontact {
    margin-top: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 4em;
}
.boxcontact {
    height: 300px;
}

form {
    background: red;
    margin-left:auto;
    margin-right:auto;
    margin-top: 70px;
    max-width: 80%;
    background: #D2E9FF;
    padding: 20px;
    color: #666;
}

input {
    margin: 10px 20px;
    width: 90%;
    margin-top: 20px;
    background: rgb(231, 231, 231);
}
label {
    margin: auto 20px;
    display: block;
    font-family: 'PT Sans';
}

.submit {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'PT Sans';
}

/* Portfolio */
.headerportfolio {
    margin-top: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 4em;
}
.boxportfolio {
    height: 300px;
}

figure {
    margin: 0;
}

.mainsectionportfolio {
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

figcaption {
    font-family: 'PT Sans', sans-serif;
    line-height: 140%;
}


/* grid */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr .5fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    }
.parent img {
    width: 100%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}
.item1des {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}
.item2des {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}
.item3des {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
}
.item4des {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
}
.item5des {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
}
.item6des {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}